<<<<<<< HEAD
@import "tailwindcss";

* {

=======
* {
  margin: 0;
  padding: 0;
>>>>>>> 3e0d172 (Context--api)
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
<<<<<<< HEAD

=======
  height: 100%;
  width: 100%;
>>>>>>> 3e0d172 (Context--api)
  background-color: rgb(15, 15, 15);
  color : white;
}